﻿<section data-ng-controller="EmailsController" data-ng-init="findOne()">
    <h1>Edit Email</h1>
    <form data-ng-submit="update()" novalidate class="form-horizontal" style="width: 90%">
        <div class="form-group">
            <label for="subject" class="col-sm-2 control-label">Subject</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" data-ng-model="email.subject" id="subject" placeholder="Subject" required>
            </div>
        </div>
        <div class="form-group">
            <label for="content" class="col-sm-2 control-label">Content</label>
            <div class="col-sm-offset-2 col-sm-10">
                <textarea class="form-control" data-ng-model="email.content" id="content" cols="30" rows="10" placeholder="Content"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="recipients" class="col-sm-2 control-label">Recipients</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" data-ng-model="email.recipients" id="recipients" placeholder="Recipients" required>
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Update" class="btn btn-primary">
        </div>
        <div data-ng-show="error">
            <strong data-ng-bind="error"></strong>
        </div>
        <div>
            <a href="/#!/emails">Back To List</a>
        </div>
    </form>
</section>